html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: "Poppins", sans-serif;
  color: #000000;

  
}
body::before {
  position: relative;
  background-image: url("Assets/backgroundimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #000000;
  content: "";
  position: fixed;
  opacity: 95%;
  inset: 0;
  z-index: -1;
}
.navbar {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 20px;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.navlinks li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.navlinks li a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #ffeaee;
}

.nav-item {
  transition: transform 0.3s ease-in-out;
}
.nav-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 6px 2px rgba(0, 17, 255, 0.384);
}


.about-card,
.project-card,
.skill-card,
.contact-card {
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  border-radius: 14px;
  padding: 20px;
  margin: 20px auto;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover,
.skill-card:hover,
.contact-card:hover,
.about-card:hover {
  transform: translateY(-6px);
  border: 1px solid blue;
  box-shadow: 0 6px 6px 2px rgba(0, 17, 255, 0.384);
}

@media (max-width: 768px) {
 
  .navlinks {
    gap: 15px; /* prevents wrapping issues */
  }
}
