/* Portfolio.css - Minimal Flat Version */

/* Page background */


    .fixedbackground2{
     background-image: url('..//src/Assets/footerimg.png');
     background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 300px;
    
  
}
.header img {
  width: 100%;        
  height: auto;       
  max-width: 100%;    
  display: block;     
  margin: 0 auto;     
}


/* Header / Hero */
.portfolio-hero {
  background: #f8f8f8; /* light gray */
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-hero .hero-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}
.portfolio-hero h1 {
  font-size: 2rem;
  margin-top: 12px;
}
.portfolio-hero h5 {
  font-size: 1rem;
  margin-top: 6px;
}

/* About */
#about {
  background: #000000b9;
  color: #ffffff;
  padding: 40px 20px;
  max-width: 900px;
  margin: 20px auto;
}

/* Section headings */
.section-heading {
  color: #000;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

/* Skills */
#skills {
  padding: 40px 20px;
  background: #000000;
  margin-bottom: 20px;
}


/* Projectsyyyyy */
#projects {
  padding: 40px 20px;
  background: #f8f8f8;
}

/* Footer */
footer.portfolio-footer {
  background: #111;
  color: #ccc;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
.navlinks{
  list-style: none;
  gap: 35px;
}

.navlinks li a {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  padding: 4px 8px;
  border: 1px solid #999;
  background: #ddd;
}
 .li a :hover{
  color: blue;

}
body, html {
  overflow-x: hidden;

}

/* Make carousel images fully responsive */
.carousel-item img {
  width: 100% !important;
  height: auto !important;
  max-height: 300px; /* adjust for mobile view */
  object-fit: contain;
}

@media (max-width: 768px) {
  .portfolio-hero .hero-img {
    width: 100px;
    height: 100px;
  }

  .navlinks{
    top: 70px;
    gap: 25px;
    list-style: none;
    position: absolute;
    display: flex;
  }

  .project-card {
    width: 100% !important;
    margin: 0 auto;
  }
  #projects .w-75 {
    width: 100% !important;
  }
  .fixedbackground{
    width:100% ;
  }
    .bannerimg {
    height: 250px !important;
    margin-left: 30px;
  }
}
@media (max-width: 576px) {
  .nav .nav-link {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    font-size: 14px; /* smaller text */
  }
}

